body{
    background-color: rgb(0, 0, 0);
    color: #fff;
  }
  
  .cards__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .heading{
    text-align: center;
  }